<div class="home-page">
	<div class="content-home col2s">
    	<div class="home-list">
    		<div class="head-title">
            	<h1 class="fl"> <a href="{$basedomain}listuser"> Users </a></h1>
            </div>
            <div class="recent-list">
            	<h2>New list Upload Photo</h2>
            	<table border="0">
					
                </table>
            </div>
        </div><!--end.Home-list-->
        <div class="home-list">
    		<div class="head-title">
            	<h1 class="fl"> <a href="{$basedomain}news">News Event</a></h1>
            </div>
            <div class="recent-list">
            	<h2>New list Event</h2>
            	<table border="0">
					
                </table>
            </div>
        </div><!--end.Home-list-->
    </div><!--end.content-home-->
    <div class="content-home col2s col2s-last ">
    	<div class="home-list">
    		<div class="head-title">
            	<h1 class="fl"> <a href="#">BADGES</a></h1>
            </div>
            <div class="recent-list">
            	<h2>New Enter Code by Users</h2>
            	<table border="0">
				
                </table>
            </div>
        </div><!--end.Home-list-->
        <div class="home-list">
    		<div class="head-title">
            	<h1 class="fl"> <a href="{$basedomain}redeemItem">Merchandise</a></h1>
            </div>
            <div class="recent-list">
            	<h2>New Redeem by users</h2>
            	<table border="0">
				
                </table>
            </div>
        </div><!--end.Home-list-->
    </div>				   				
</div>